<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar
    navbar-expand-lg navbar-light bg-light">

        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <th:block sec:authorize="isAnonymous()">
                    <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/}">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/user/login}">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-danger"
                               th:href="@{/user/register}">Регистрация</a>
                        </li>
                    </ul>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <th:block sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/admin/actions">Добави Задача</a>
                            </li>
                        </th:block>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/home}">Начало</a>
                        </li>
                    </ul>
                </th:block>
            </div>
        </div>
    </nav>

</th:block>