<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:action="http://www.w3.org/1999/xhtml"       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
>
<head th:include="~{fragments/head}"></head>
<body>

<header>
    <nav class="navbar
    navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <th:block sec:authorize="isAuthenticated()">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark btn"
                               th:href="@{/home}">Home</a>
                        </li>
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <li class="nav-item">
                                <a class="nav-link text-dark" th:href="@{/task/add}">Add Task</a>
                            </li>
                        </th:block>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/logout}">Logout</a>
                        </li>

                    </ul>
                </th:block>
            </div>
        </div>
    </nav>
</header>

<main class="p-5 bg-blur text-center my-main  add-view-container">
    <div class="col">
        <label for="tasks">Choose a task:</label>

        <select name="tasks" id="tasks">
            <option value="" disabled selected>Select Task</option>
            <option
                    th:each="c : ${taskList}" th:value="${taskList.name}" th:text="${taskList.name}"  selected>Изберете категория</option>
        </select>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>

</body>
</html>
